name: Run Powershell script to get Network monitoring Report

on:
    schedule:
        - cron: "30 8 * * *"
    
    workflow_dispatch:

jobs:
 Run_script:
    runs-on: Windows-latest
    env:
      FILE_PATH: ${{ vars.FILE_PATH }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Installs modules
        run: |
         Install-Module -Name Az.Accounts, Az.OperationalInsights, ImportExcel, Microsoft.Graph.Authentication, Microsoft.Graph.Users.Actions -Scope CurrentUser -Force

      - name: Running script
        run: |
         pwsh ./NetworkMonitoring/NetworkMonitoring.ps1
        env:
            TENANT_ID: ${{vars.TENANT_ID}}
            APP_ID: ${{vars.APP_ID}}
            SECRET_VALUE: ${{secrets.SECRET_VALUE}}
            FILE_PATH: ${{vars.FILE_PATH}}
      - name: Upload Report
        uses: actions/Upload-artifact@v4
        with:
            name: BandwidthReport
            path: ${{env.FILE_PATH }}\*.xlsx